# MongoDB URI
MONGODB_URI=your_mongodb_atlas_connection_string

#Google 
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# GitHub
GITHUB_ID=your_github_id
GITHUB_SECRET=your_github_secret

# NextAuth
NEXTAUTH_SECRET=your_random_secret
NEXTAUTH_URL=http://localhost:3000

# GEMINI API KEY
GEMINI_API_KEY=your_gemini_api_key

# Redis
UPSTASH_REDIS_REST_URL=your_redis_rest_url
UPSTASH_REDIS_REST_TOKEN=your_redis_rest_token

# Resend Email
RESEND_API_KEY=your_resend_api_key